.cta-pop-up-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.98);
    padding-top: 150px;
    z-index: 1;
}
.cta-pop-up-close {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
#cta-pop-up-container {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    height: inherit;
    min-height: 1px;
    position: relative;
}
#cta-pop-up-iframe{
    max-width: 480px;
    width: 100%;
    height: 100%;
}

.pop-up-form-template{
    background-color:transparent;
    /*border-radius: 15px;*/
}
.pop-up-form-template .fluentform /*.fluentform_wrapper_7*/ {
    padding: 81px 24px 24px 24px;
    background-color: #fff;
    border-radius: 15px;
}

.thankyou-wrap{
    padding: 92px 0 36px;
    width: 280px;
}
.thankyou-wrap .div-center{
    display:block
}

/***********[STEPPED FORM]**********/

.stepped-form-container {
    padding-top: 40px;
    max-width: 375px;
    height: 800px;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--ter);
}
.form-steps-wrapper {
    margin-bottom: 40px;
}
.stepped-form-container.stepped-form-main-screen {
    padding-top: 64px;
}
.stepped-form-content .heading3 {
    max-width: 256px;
    margin-bottom: 32px!important;

}
.stepped-form-screen-content {
    display: none;
    padding: 0 16px;
}
.stepped-form-screen-content.active-screen {
    display: block;
}
.stepped-form-container.form-main-screen {
    padding-top: 64px;
}
.book-consultation-form-header {

}
.form-steps {
    margin: 0;
    display: flex;
    justify-content: center;
}
.form-step {
    width: 56px;
    height: 8px;
    background-color: #BDBDBD;
    border-radius: 15px;
    margin: 0 8px;
    list-style-type: none;
}
.form-step.active-step {
    background-color: #C3A260;
}
.stepped-form-footer {
    height: 82px;
    border-top: 1px solid #BDBDBD;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#popup-cancel-button {
    cursor: pointer;
    flex-basis: 123px;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 50px;
}
.stepped-form-footer .btn.cta {
    flex-basis: 123px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
}
